<div class="row">
	<div class="chef-profile">
		<h2 id="chef-name" class="chef-name"><%= @chef.name %></h2>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div id="chef-profile-image">
				<% if @chef.image.blank? %>
				<p style="font-size: 0.8em">(Picture of chef coming soon)</p>
				<%= image_tag('default_chef.png') %>
				<% else %>
				<%= image_tag @chef.image, width: '100px', class: "chef-profile-image",
				alt: h(@chef.name) %>
				<% end %>
			</div>
			<%= render 'follow_form' %>
			<p id="chef-stats"><%= pluralize(@chef.followers.count, "Follower") %></p>
			<% if current_user.admin? %>
			<%= link_to "edit data", edit_chef_path(@chef) %>
			<% end %>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8" id="chef-description" >
			<div>
				<h4>Cuisines</h4>
				<p>brief summary about chef</p>
			</div>
			<div>
				<h4>Restaurants</h4>
				<p>List of restaurants that chef has worked, owns, or owned</p>
			</div>
			<div>
				<h4>Favorite ingredients</h4>
				<p>List of favorite ingredients, dishes</p>
			</div>
			<div>
				<h4>Bio</h4>
				<p>Interesting tidbits about chef</p>
			</div>
			<div>
				<h4>Recent Activity</h4>
			</div>
		</div>	
	</div>
</div>