<% if current_user.admin? %>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<%= form_for(@cuisine, :html => {:multipart => true}) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.hidden_field :file, id: 'cuisine_file' %>

			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

			<div class="image-field-cuisine" data-provides="image_field">
				<p id="drag-area">Drag photos here!</p>
			</div>
			<%= f.submit "Create Cuisine", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3" id="upload_area_cuisine">
		<%= render "shared/direct_upload_form", data_object_type: 'cuisine' %>
	</div>
</div>

<% end %>

<!-- <a href="#" class="x" data-dismiss="image_field" style="float: none">×</a> -->