<div class="row">
	<div class="cuisine-profile">
		<h2 id="cuisine-name" class="cuisine-name"><%= @cuisine.name %></h2>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div id="cuisine-profile-image">
				<% if @cuisine.image.blank? %>
				<p style="font-size: 0.8em">(Picture of cuisine coming soon)</p>
				<%= image_tag('default_cuisine.png') %>
				<% else %>
				<%= image_tag @cuisine.image_url(:thumbnail), class: "cuisine-profile-image",
				alt: h(@cuisine.name) %>
				<% end %>
			</div>
			<%= render 'follow_form' %>
			<p id="cuisine-stats"><%= pluralize(@cuisine.followers.count, "Follower") %></p>
			<% if current_user.admin? %>
			<%= link_to "edit data", edit_cuisine_path(@cuisine) %>
			<% end %>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8" id="cuisine-description" >
			<div>
				<h4>Cuisines</h4>
				<p>brief summary about cuisine</p>
			</div>
			<div>
				<h4>Restaurants</h4>
				<p>List of restaurants that cuisine has worked, owns, or owned</p>
			</div>
			<div>
				<h4>Favorite ingredients</h4>
				<p>List of favorite ingredients, dishes</p>
			</div>
			<div>
				<h4>Bio</h4>
				<p>Interesting tidbits about cuisine</p>
			</div>
			<div>
				<h4>Recent Activity</h4>
			</div>
		</div>	
	</div>
</div>