<% provide(:title, @title) %>
<div class="row">
	<aside class="col-sm-4 col-md-4 col-lg-4">
		<section class="user-sidebar">
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="col-sm-8 col-md-8 col-lg-8">
		<% if @title == "Followers" %>
			<h4 class="following_list">
				Followed by <%= pluralize(@users.count, "Foodie") %>
			</h4>
			<% if @users.any? %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<% end %>
		<% else %>
			<div class="following_cat" id="foodies">
				<h4 class="following_list">
					<%= @title %> <%= pluralize(@users.count, "Foodie") %>
				</h4>
				<% if @users.any? %>
					<ul class="users">
					<%= render @users %>
					</ul>
				<% end %>
			</div>
			
			<div id="chefs">
				<h4 class="following_list" >
				<%= @title %> <%= pluralize(@user.followed_chefs.count, "Chef") %>
				</h4>
				<% if @chefs.any? %>
				<ul class="chefs">
					<%= render 'chefs/chefs' %>
				</ul>
				<% end %>
			</div>
			
			<div id="followed_foods">
				<h4 class="following_list" >
					<%= @title %> <%= pluralize(@user.followed_foods.count, "Ingredient") %>		
				</h4>
				<% if @foods.any? %>
					<ul class="foods">
					<%= render 'foods/foods' %>
					</ul>
				<% end %>
			</div>
		
			<div id="dishes">
			<h4 class="following_list" >
			<%= @title %> <%= pluralize(@user.followed_foods.count, "Dish") %>		
			</h4>
		</div>		
	
			<div id="restaurants">
			<h4 class="following_list" >
			<%= @title %> <%= pluralize(@users.count, "Restaurant") %>	
			</h4>	
		</div>
		
			<div id="cultures">
			<h4 class="following_list" >
			<%= @title %> <%= pluralize(@user.followed_cuisines.count, "Cuisine") %>
			</h4>
			<% if @cuisines.any? %>
			<ul class="cuisines">
				<%= render 'cuisines/cuisines' %>
			</ul>
			<% end %>
		</div>
		
			<div id="regions">
			<h4 class="following_list" >
			<%= @title %> <%= pluralize(@users.count, "Region") %>
			</h4>
		</div>
			
		<% end %>
	</div>
</div>