<%= form_for(@activity, :html => {:multipart => true}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.hidden_field :file, class: "hello", id: 'activity_file' %>

	<fieldset>
		<%= f.label :title, "Title of post:", class: 'attach' %>
		<%= f.text_area :title, class: 'post', placeholder: "Share your foodie adventure..." %>
		<div>
			<span><strong>Attach:</strong>
			<%= f.select :type, %w[select photo link], class: 'type' %>
			</span>
			
			<span id="attach_photo">
				<div class="image-field-activity">
					<p id="drag-area">Drag and drop photos here!</p>
				</div>
			</span>
		
		<span id="attach_link">
			<%= f.text_field :content, placeholder: "Share an article, a link, an interesting tidbit..."%>
		</span>
		
		<div id="attach-tags">
			<span><%= f.label :tag_list, "Tags (separated by commas):" %></span>
			<span><%= f.text_field :tag_list, id: "tag-input" %></span>
		</div>
		
		</div>
		<div class="button">
			<%= f.submit "Share!", class: "btn btn-primary btn-success", id: 'search-button' %>
		</div>
	</fieldset>
<% end %>

<div class="row" id="upload-row">
	<div class="col-lg-6 col-lg-offset-3" id="upload_area_activity">
		<%= render "shared/direct_upload_form", data_object_type: 'activity' %>
	</div>
</div>