<form action="https://enthusedbyfood.s3.amazonaws.com/" method="post" enctype="multipart/form-data" class="direct-upload">
	<input type="hidden" name="key">
	<input type="hidden" name="acl" value="public-read"> 
	<input type="hidden" name="success_action_status" value="201">
   	<input type="hidden" name="Content-Type" value="image/jpeg" />
   	<input type="hidden" name="x-amz-server-side-encryption" value="AES256" /> 
   	<input type="hidden" name="X-Amz-Credential" value="<%= ENV['AWS_ACCESS_KEY_ID']%>/20180925/us-east-1/s3/aws4_request" />    
   	<input type="hidden" name="X-Amz-Algorithm" /> 
   	<input type="hidden" name="X-Amz-Date" value="20180925T000000Z" />    
	<input type="hidden" name="policy">
	<input type="hidden" name="X-Amz-Signature"/>
	
	<p id="direct-upload-button">
		<span class="btn btn-file" id="button-cust" data-foodie-type="<%= data_object_type %>">OR click here to upload image
			<input type="file" name="file" id="file_input"> 
		</span>
	</p>
</form>

<div class="progress progress-striped active" id="<%= data_object_type %>" data-foodie-type="<%= data_object_type %>">
  <div class="progress-bar" id="<%= data_object_type %>" role="progressbar">
  </div>
</div>

