<% @user ||= current_user %>
<div class="lists">
	<% if current_user?(@user) %>
		<h4 id="listamania-heading">
			<%= link_to "Plate of Favorites", ratings_user_path(@user), id: "plate" %>
		</h4>
		<span class="edit list" style="font-size: 0.8em">
			<% if @user.ratings.count > 5 %>
			<%= link_to '(see all)', ratings_user_path(@user) %>
			<% end %>
		</span>
		<% if @ratings.empty? %>
		<div id="empty">
			<h5>No Favorites Yet</h5>
			<p>Organize your favorite (dishes, foods, restaurants, chefs)</p>
		</div>
				<ul class="ratings_list_wrapper" id="ratings_lists">
					<% @ratings.each do |rating| %>
					<li class="ratings_list">
						<span>
							<%= rating.name %>
							<%= link_to "(edit list)", edit_rating_path(rating), class: 'list_edit' %>
						</span>
					</li>
					<% end %>
				</ul>
		<% else %>
			<ul class="ratings_list_wrapper" id="ratings_lists">
				<% @ratings.each do |rating| %>
				<li class="ratings_list">
					<span>
						<%= rating.name %>
						<%= link_to "(edit list)", edit_rating_path(rating), class: 'list_edit' %>
					</span>
					<ol class="list details">
						<% rating.lists.each do |list| %>
							<% unless list.content.blank? %>
							<li><%= list.content %></li>
							<% end %>
						<% end %>
					</ol>
				</li>
				<% end %>
			</ul>
		<% end %>
		<div class="add-list">
		<%= link_to "Add a List", new_rating_path, id: "new_link", remote: true %>
		</div>
	<% else %>
		<h4><%= link_to "#{@user.name}'s Plate of Favorites", ratings_user_path(@user) %></h4>
		<span class="edit list"><%= link_to '(see it all)', ratings_user_path(@user) %></span>
		<% if @ratings.empty? %>
		<div id="empty">
			<h5 style="text-align: center">No Favorites Yet</h5>
		</div>
		<% else %>
		<ul class="ratings_list_wrapper" id="ratings_lists">
		<% @ratings.each do |rating| %>
			<li class="ratings_list">
				<span><%= rating.name %></span>
				<ol class="list details">
					<% rating.lists.each do |list| %>
						<% unless list.content.blank? %>
							<li><%= list.content %></li>
						<% end %>
					<% end %>
				</ol>
			</li>
		<% end %>
		</ul>
		<% end %>
	<% end %>
</div>