<%= form_for @photo, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.file_field :photo %> 
	</div>
	<div class="field">
		<%= f.submit 'Upload', class: "btn btn-large btn-success" %>
		<%= link_to 'Cancel', root_path, class: "btn btn-small btn-danger" %>
	</div>
<% end %>