<% @user ||= current_user %>
<div class="stats">
	<div class="stats foodies">
		<span>
			<a href="<%= following_user_path(@user) %>">
				<strong><span class="stat" id="following">
					Following: <br />
					<%= pluralize(@user.followed_users.count, "Foodie") %>
				</span></strong>
			</a>
		</span>
		<span>
			<a href="<%= followers_user_path(@user) %>">
				<strong><span class="stat" id="followers">
					Followed by: <br />
					<%= pluralize(@user.followers.count, "Foodie") %>
				</span></strong>
			</a>
		</span>
	</div>
	<div class="stats foods">
		<span class="stats_first">
			<a href="<%= following_user_path(@user) %>">
				<strong><span class="stat" id="following">
					Enthused with: <br />
					<%= pluralize(@user.followed_foods.count, "Food") %>
				</span></strong>
			</a>
		</span>
	</div>
	<div class="stats chefs">
		<span class="stats">
			<a href="<%= following_user_path(@user) %>">
				<strong><span class="stat" id="following">
					Enthused with: <br />
					<%= pluralize(@user.followed_chefs.count, "Chef") %>
				</span></strong>
			</a>
		</span>
	</div>
		
</div>

