<% if @user.image.blank? %>
		<%= gravatar_for @user, size: 52 %>
		<%= link_to @user.name, @user %>
<% else %>
<a id="user_image" data-toggle="modal" href="#userModal"><%= image_tag @user.image_url(:avatar).to_s %></a>
<%= render 'users/modal_avatar' %>
<%= @user.name %>
<% end %>
<span class="link-class">
	<%= link_to "view profile", @user, class: 'link-class' %>
</span>
<span>
	<%= pluralize(@user.activities.count, "adventure") %>
</span>