<li class="<%= food_item.id %>">
	<% if food_item.image.blank? %>
		<%= image_tag('default_thumbnail.png') %>
		<%= link_to food_item.name, food_item %>
		<% if current_user.admin? %>
		| <%= link_to "delete", food_item, method: :delete,
		data: { confirm: "You sure?" } %>
		<% end %>
	<% else %>	
		<%= link_to (image_tag food_item.image, width: '80px'), food_item, id: "food-image" %>
		<%= link_to food_item.name, food_item, class: "food-name" %>
	<div class="clear"></div>
	<% end %>
	<p><%= @xml_1 %></p>
</li>