<div class="row">
	<div>
		<h2 id="food-name" class="food-name"><%= @food.name.titleize %></h2>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div id="food-profile-image">
				<% if @food.image.blank? %>
					<p style="font-size: 0.8em">(Current profile picture)</p>
					<%= image_tag('default_food.png') %>
				<% else %>
					<%= image_tag @food.image, width: '200px', class: "food-profile-image",
																					alt: h(@food.name) %>
				<% end %>
				<%= form_for @food do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<%= f.hidden_field :image, id: 'food_file' %>

					<div class="field">
						<%= f.label :name %>
						<%= f.text_field :name %>
					</div>

					<div class="image-field-food" data-provides="image_field">
						<p id="drag-area">Drag photos here!</p>
					</div>
					<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
				<% end %>
			</div>
			<div id="upload_area_food">
				<%= render "shared/direct_upload_form", data_object_type: 'food' %>
			</div>
		</div>

		<div class="col-sm-8 col-md-8 col-lg-8" id="food-description" >
			<div>
				<h4 class="food-profile">Food Profile</h4>
				<p>Texture</p>
				<p></p>
			</div>
			<div>
				<h4 class="food-profile">Food benefits</h4>
				<p>List of 8 health benefits</p>
				<%= @xml_1 %>
			</div>
			<div>
				<h4 class="food-profile">Food bites</h4>
				<p>8 Interesting tidbits about the <%= @food.name %></p>
			</div>
			<div class="food-posted">
				<h4 class="food-profile">Recent Activity</h4>
				<p>Images shared by community so far</p>
				<p>People enthused with the food so far</p>
				<p>Related links shared by community so far</p>
			</div>
		</div>
	</div>
</div>