<div class="row">
	<div>
		<h2 id="food-name" class="food-name"><%= @food.name.titleize %></h2>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div id="food-profile-image">
				<% if @food.image.blank? %>
					<p style="font-size: 0.8em">(Beautiful image of food coming soon)</p>
					<%= image_tag('default_food.png') %>
				<% else %>
					<%= image_tag @food.image_url(:thumbnail), class: "food-profile-image",
																					alt: h(@food.name) %>
				<% end %>
			</div>
			<%= render 'follow_form' %>
			<p id="food-stats"><%= pluralize(@food.followers.count, "Follower") %></p>
			<% if current_user.admin? %>
				<%= link_to "edit data", edit_food_path(@food) %>
			<% end %>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8" id="food-description" >
			<h3 class="food-profile">Food Profile</h3>
			<p>Who What Where When Why How</p>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<h4><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Top 3 Most Interesting Facts about <%= @food.name %></a>
							</h4>
						</div>
					</div>
					<div class="panel-collapse collapse in" id="collapseOne">
						<div class="panel-body">
							<%= @food.content%>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<h4><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Health Benefits</a>
							</h4>
						</div>
					</div>
					<div class="panel-collapse collapse in" id="collapseTwo">
						<div class="panel-body">
							<%= @food.content%>
						</div>
					</div>
				</div>
			</div>
					<!-- <ul><a>History</a></ul>
										<ul><a>Cultural Prevalence</a></ul>	 -->
			<div class="food-posted">
				<h4 class="food-profile">Recent Activity</h4>
				<p>Images shared by community so far</p>
				<p>People enthused with the food so far</p>
				<p>Related links shared by community so far</p>
			</div>
		</div>
	</div>
</div>