<div class="container">	
	<div class="row" id="header">
		<a id="logo" href="/">enthused by <span>FOOD</span></a>
		<%= render 'shared/search' %>
		<% if signed_in? %>
		<%= render 'shared/profileNav'%>
		<% end %>
	</div>

	<div class="navbar navbar-default navbar-inverse">
		<div class="navbar-header">
			<a data-toggle="modal" href="#myModal"><%= image_tag('foodie.png') %>
			</a>
			<%= render 'shared/header_modal' %>
		</div> <!-- /.navbar-header -->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav" id="navigations">
				<% if signed_in? %>
				<li><a data-toggle="modal" href="#modalForm">Share</a></li>
				<%= render 'shared/post_modal' %>
				<!-- <li> -->
					<!-- <link_to "Cultivate", cultivate_path> -->
				<!-- </li> -->
				<li><%= link_to "Explore", foods_path %></li>
				<li><%= link_to "Discover", discover_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="acct">
				<li style="border-right: 1px solid #9E0508"><%= link_to "My Profile", current_user %></li>
			</ul>
			<% else %>
			<li><%= link_to "Discover", foods_path %></li>
			<li><%= link_to "Getting Started",  start_path %></li>
			<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
		</div> <!-- navbar-collapse -->
	</div> 	<!--- navbar -->
</div> <!-- container -->


