<!DOCTYPE html>
<html>
	<head>
  	<title><%= full_title(yield(:title)) %></title>
    <%= javascript_include_tag "application" %>
  	<%= stylesheet_link_tag    "application", media: "all" %>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfMPA6icIoHssx7WWO6TxCjgy5-x_9xjY&sensor=false"></script>
		
  	<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div id="wrap">
			<%= render 'layouts/header' %>
			<div class="container" id="inner-container">
				<div class="notifications top-left"></div>
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>
				<%= yield %>
			</div>
		</div>
		
		<div class="container">
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
		<script>
			$(function () {
				var message = 'Click on the chef icon for more info';
				$('.top-left').notify({
					message: { text: message },
						 type: 'success',
					fadeOut: {
						delay: Math.floor(Math.random() * 500) + 3500
					}
				}).show();		
			})();
		</script>
		
	</body>
</html>